body {
    background-color: #c8d8e4;
}

.navbar-zeile {
    background-color: #f2f2f2;
}

.footer-custom {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center; /* Zentrierung des Textes */
}

.menu {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    float: left;
}

.content-box {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
}

.filter-sort {
    margin-bottom: 10px;
}


/* Layout-Anpassungen für verschiedene Bildschirmgrößen */
@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .menu {
        width: 25%;
    }

    .content-box {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .menu {
        width: 100%;
        margin-bottom: 15px;
    }

    .content-box {
        width: 100%;
    }
}

html[lang="he"] #sidebarMenu {
    direction: rtl;
    text-align: right; 
    float: right;
}

  
  